:root {
  /* General colors */
  --body-bg-color: rgb(19, 21, 22);
  --body-text-color: rgb(234, 234, 234);

  /* Severity colors */
  --critical-color: #cc0000;
  --high-color: #cc2f00;
  --medium-color: #cc5700;
  --low-color: #009fbf;
  --unknown-color: #bf29bf;
  --fixed-version-color: #37bd37;
}

body {
  background-color: var(--body-bg-color);
  color: var(--body-text-color);
}

h1 {
  margin-bottom: 0;
}

fieldset {
  min-width: 100px;
  display: inline-block;
  border-color: transparent;
  padding: 0;
}

fieldset label {
  padding-right: 1em;
}

fieldset input {
  float: right;
  width: 300px;
}

#image {
  width: 400px;
}

/* align table headers left */

table {
  width: 100%;
}

table th {
  text-align: left;
}

table tr {
  line-height: 2em;
}

tr.CRITICAL > td:first-child {
  background-color: var(--critical-color);
}

tr.CRITICAL > td:nth-child(2) {
  color: var(--critical-color);
}

tr.HIGH > td:first-child {
  background-color: var(--high-color);
}

tr.HIGH > td:nth-child(2) {
  color: var(--high-color);
}

tr.MEDIUM > td:first-child {
  background-color: var(--medium-color);
}

tr.MEDIUM > td:nth-child(2) {
  color: var(--medium-color);
}

tr.LOW > td:first-child {
  background-color: var(--low-color);
}

tr.LOW > td:nth-child(2) {
  color: var(--low-color);
}

tr.UNKNOWN > td:first-child {
  background-color: var(--unknown-color);
}

tr.UNKNOWN > td:nth-child(2) {
  color: var(--unknown-color);
}

.fixed_version {
  color: var(--fixed-version-color);
}

.severity_count {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  display: inline-block;
}

.severity_count li {
  float: left;
  margin-right: 10px; /* Adjust value to your preference */
}

.severity_count li.critical {
  background-color: var(--critical-color);
}

.severity_count li.high {
  background-color: var(--high-color);
}

.severity_count li.medium {
  background-color: var(--medium-color);
}

.severity_count li.low {
  background-color: var(--low-color);
}

.severity_count li.unknown {
  background-color: var(--unknown-color);
}
