<h3>Manifest</h3>

{% match cosign_manifest %}
{% when Ok(manifest) %}
<p>Location: {{ manifest.manifest_location }}</p>
<table>
  <thead>
    <tr>
      <th>Issuer</th>
      <th>Identity</th>
    </tr>
  </thead>
  <tbody>
    {% for signature in manifest.signatures %}
    <tr>
      <td>{{ signature.issuer }}</td>
      <td>{{ signature.identity }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% when Err(err) %}
<h4>Error</h4>
<code>
  {{ err|ansi_to_html|safe }}
</code>
{% endmatch %}