<p>Artifact Name: {{ artifact_name }}</p>

<!-- prettier-ignore -->
{% if let Some(manifest) = docker_manifest %}

{% match manifest %}
{% when DockerManifest::Image with (image) %}
Image
{% when DockerManifest::List with (list) %}
<table>
  <thead>
    <tr>
      <th>Architecture</th>
      <th>Os</th>
      <th>Size</th>
      <th>Digest</th>
    </tr>
  </thead>
  <tbody>
    {% for entry in list.manifests %}
    <tr>
      <td>{{ entry.platform.architecture }}</td>
      <td>{{ entry.platform.os }}</td>
      <td>{{ entry.size }}</td>
      <td>{{ entry.digest }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% when DockerManifest::Single with (single) %} Single {% endmatch %} {% endif
%}
