<!DOCTYPE html>

<html lang="en">

  <head>
    <title>Trivy Web Scanner</title>

    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width"
    >

    <link
      rel="stylesheet"
      type="text/css"
      href="/css/main.css"
    />

    <script
      async
      src="/js/htmx/2.0.0/htmx.min.js"
    ></script>
  </head>

  <body>
    <h1>Trivy Image Scanner</h1>

    <form
      id="form"
      onsubmit="updateDivs(); return false;"
    >
      <fieldset>
        <h2>Image</h2>
        <p>
          <label for="image">Image</label>
          <input
            id="image"
            name="image"
            {% if let Some(image) = image %}
            value="{{ image }}"
            {% endif %}
          />
        </p>

        <h2>Credentials</h2>
        <p>
          <label for="username">Username</label>
          <input
            id="username"
            name="username"
          />
        </p>

        <p>
          <label for="password">Password</label>
          <input
            id="password"
            type="password"
            name="password"
          />
        </p>

        <h2>Cosign</h2>
        <p>
          <label for="cosign_key">Cosign Key</label>
          <input
            id="cosign_key"
            name="cosign_key"
          />
        </p>
      </fieldset>

      <p>
        <button>Submit</button>
      </p>
    </form>

    <hr>

    <div id="image_information"></div>
    <div id="scan_information"></div>

    <script>
      function updateDivs() {
        var form = document.getElementById('form');
        var formData = new FormData(form);

        var image = formData.get('image');
        var username = formData.get('username');
        var password = formData.get('password');
        var cosign_key = formData.get('cosign_key');

        let thisPage = new URL(window.location.href);
        thisPage.searchParams.set('image', image);
        window.history.pushState({}, '', thisPage);

        document.getElementById('image_information').innerHTML = `<h2>Image Information</h2>
        <img src="/img/bars.svg">
        <h2>Cosign Information</h2>
        <img src="/img/bars.svg">`;

        document.getElementById('scan_information').innerHTML = `<h2>Trivy Information</h2>
        <img src="/img/bars.svg">`;

        htmx.ajax('POST', '/image', {
          target: '#image_information',
          swap: 'innerHTML',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          values: {
            image: image,
            cosign_key: cosign_key
          }
        });

        htmx.ajax('POST', '/trivy', {
          target: '#scan_information',
          swap: 'innerHTML',
          headers: { 'Content-Type': 'application/x-www-form-urlencoded' },
          values: {
            image: image,
            username: username,
            password: password,
          }
        });
      }

      function submitCheck() {
        if (window.location.href.includes('?')) {
          updateDivs();
        }
      }

      window.addEventListener("load", () => {
        submitCheck();
      });
    </script>
  </body>

</html>
