<h2>Image Information</h2>
{% include "docker_manifest.html" %}

<h2>Cosign Information</h2>
{% include "cosign_manifest.html" %}

<h2>Scan Results</h2>
<p>Vulnerabilities: {% include "vulnerabilities.html" %}</p>

<table>
  <thead>
    <tr>
      <th></th>
      <th>severity</th>
      <th>id</th>
      <th>
        affected packages [<span class="fixed_version">fixed version</span>]
      </th>
      <th>CVE Information</th>
    </tr>
  </thead>

  <colgroup>
    <col span="1" style="width: 5px" />
    <col span="1" style="width: auto" />
    <col span="1" style="width: auto" />
    <col span="1" style="width: auto" />
    <col span="1" style="width: auto" />
  </colgroup>

  <tbody>
    {% for vulerability in vulnerabilities %}
    <tr class="{{ vulerability.severity }}">
      <td></td>
      <td>{{ vulerability.severity }}</td>

      {% match vulerability.primary_url() %} {% when Some with (url) %}
      <td>
        <a href="{{ url }}"> {{ vulerability.id }} </a>
      </td>
      {% when None %}
      <td>{{ vulerability.id }}</td>
      {% endmatch %}

      <td>
        {{ vulerability.pkg_name }} {{ vulerability.installed_version }} {%
        match vulerability.fixed_version %}{% when Some with (fixed_version)
        %}[<span class="fixed_version">{{ fixed_version}}</span>]{% when None
        %}{% endmatch %}
      </td>
      <td>{% include "cve_information.html" %}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
