<ul class="severity_count">
    <li
        class="critical{% if severity_count.critical == 0 %} zero{% endif %}"
        title="Critical"
    ><span class="label">Critical</span><span class="count">{{ severity_count.critical }}</span></li>
    <li
        class="high{% if severity_count.high == 0 %} zero{% endif %}"
        title="High"
    ><span class="label">High</span><span class="count">{{ severity_count.high }}</span></li>
    <li
        class="medium{% if severity_count.medium == 0 %} zero{% endif %}"
        title="Medium"
    ><span class="label">Medium</span><span class="count">{{ severity_count.medium }}</span></li>
    <li
        class="low{% if severity_count.low == 0 %} zero{% endif %}"
        title="Low"
    ><span class="label">Low</span><span class="count">{{ severity_count.low }}</span></li>
    <li
        class="unknown{% if severity_count.unknown == 0 %} zero{% endif %}"
        title="Unknown"
    ><span class="label">Unknown</span><span class="count">{{ severity_count.unknown }}</span></li>
</ul>
